       body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				color:#ffffff;
				font-family: 'Poiret One', cursive;
			}

			a {
				color: #ffffff;
				text-decoration: none;
			}

			.swiper-container-1, .swiper-wrapper, .swiper-slide {
             width: 100%;
             height: 100%;
             position: absolute;
             background-color: #000;
            }

			#canvas {
				width: 100%;
				height: 100%;
				position: absolute;
			}


			.nav {
				z-index: 999;
				position: absolute;
				top: 3%; 
				left: 10%; 
				width: 20%;
			}

		    .nav>div {
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.nav>div:hover:not(:first-child) {
			    color: #99f9ff;
				margin-left: 5%;
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.logo {
				width: 50px;
				height: 50px;
				background-image: url("./tri.png");
				background-size: cover;
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.logo:hover {
				-webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.intro {
				position: absolute; 
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				margin: auto;
				top: 30%;
				text-align: center;
			}

			.intro div {
				font-size: 5em;
			}

			.intro p {
				position: absolute; 
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				margin: auto;
				top: 50%;
				font-size: 2em;
			}

			.nav div {
				margin-top: 5%;
			}