       body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				color:#ffffff;
				font-family: 'Poiret One', cursive;
			}

			a {
				color: #ffffff;
				text-decoration: none;
			}

			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color:    #d8d8d8;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #d8d8d8;
                opacity:  1;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #d8d8d8;
                opacity:  1;
            }
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:    #d8d8d8;
            }
            ::-ms-input-placeholder { /* Microsoft Edge */
                color:    #d8d8d8;
            }

			.swiper-container-1, .swiper-wrapper, .swiper-slide {
             width: 100%;
             height: 100%;
             position: absolute;
             color:#fff;
             background-color: #000;
            }

            .swiper-container-2, .swiper-wrapper, .swiper-slide {
             width: 100%;
             height: 100%;
             position: absolute;
             color:#000;
             background-color: #fff;
            }

			#canvas, #canvas2 {
				width: 100%;
				height: 100%;
				position: absolute;
			}


			.nav {
				font-size: 1.8vh;
				z-index: 999;
				position: absolute;
				top: 3%; 
				left: 8%; 
				width: 12%;
			}

		    .nav * {
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.nav>div:hover:not(:first-child) {
			    color: #99f9ff;
				margin-left: 5%;
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			#resume-link:hover {
				color: #99f9ff;
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
			}


			.logo {
				width: 50px;
				height: 50px;
				background-image: url("../img/tri.png");
				background-size: cover;
				transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.logo:hover {
				-webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                transition: all 1s ease;
                -moz-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
			}

			.intro {
				position: absolute; 
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				margin: auto;
				top: 30%;
				text-align: center;
			}

			.intro div {
				font-size: 5em;
				color: #fff;
			}

			.intro p {
				position: absolute; 
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				margin: auto;
				top: 50%;
				font-size: 2em;
				color: #fff;
			}

			.nav div {
				margin-top: 8%;
			}

		    .dev {
				background-color: #fff;
			}

            .clearfix:after {
                content: "";
                display: table;
                clear: both;
            }

            .dev-project-container {
             width: 65%;
             height: 90%;
             position: absolute;
             background-color: #fff;
             color: #000;
             left: 0; 
		     right: 0; 
		     top: 0; 
		     bottom: 0; 
		     margin: auto;
            }

            @media screen and (min-width: 300px) {
                .dev-project-container {
                  overflow: scroll;
                }
              }

              @media screen and (min-width: 768px) {
                .dev-project-container {
                  overflow: visible;
                }
              }


            .dev-box {
            	float: left;
            	width: 40%;
            	height: 33%;
            	box-sizing: border-box;
            	text-align: center;
            	position: relative;
            }


			.dev .overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				color: #fff;
				background-color: black;
				/*display: none;*/
			}
			/*rgba(153,249,255,0.9);*/

			.dev .overlay-container {
				width: 100%;
				height: 40%;
				position: absolute;
				left: 0; 
		        right: 0; 
		        top: 0; 
		        bottom: 0; 
		        margin: auto;
			}

			.overlay-container .name{
				width: 100%;
				font-size: 2em;
			}

			.overlay-container * {
				display: inline-block;
			}

			.github {
				width: 40px;
				height: 40px;
				background: url("../img/github.png") no-repeat center center;
				background-size: contain;
				margin: 0;
			}

			.link {
				width: 40px;
				height: 40px;
				background: url("../img/link.png") no-repeat center center;
				background-size: contain;
				margin: 0;
			}

			.dev-1 {
				width: 100%;
				height: 100%;
				background: url("../img/colordoscope.png") no-repeat center center;
				background-size: cover;
			}

			.dev-2 {
				background: url("../img/givemesomething.png") no-repeat center center;
				background-size: cover;
			}

			.dev-3 {
				background: url("../img/treehollow.png") no-repeat center center;
				background-size: cover;
			}

			.dev-4 {
				background: url("../img/uwlife.png") no-repeat center center;
				background-size: cover;
			}

			.dev-5 {
				background: url("../img/cc3k.png") no-repeat center center;
				background-size: cover;
			}

			.dev-6 {
				background: url("../img/scala.png") no-repeat center center;
				background-size: cover;
			}

			.dev-box:hover {
				z-index: 999;
			}

			@media screen and (min-width: 300px) {
                .dev-box, .overlay {
                  width: 100%;
                }
  
                .dev-box:nth-of-type(2n+1) {
                  clear: none;
                }
              }

              @media screen and (min-width: 768px) {
                .dev-box, .overlay {
                  width: 50%;
                }
  
                .dev-box:nth-of-type(2n+1) {
                  clear: left;
                }
              }

			.design {
			    background-color: #fff;
			}

			.des-container {
				width: 100%;
				height: 100%;
				position: relative;
			}


			.design .des-1 .mockup {
				background: url("../img/super-math-mockup.png") no-repeat center center;
				background-size: contain;

			}

			.design .des-2 .mockup {
				background: url("../img/schedule-hero-mockup-2.png") no-repeat center center;
				background-size: contain;

			}

			.design .des-3 .mockup {
				background: url("../img/galaxy-mockup.png") no-repeat center center;
				background-size: contain;

			}

			.design .des-4 .mockup {
				background: url("../img/gym-mockup.png") no-repeat center center;
				background-size: contain;

			}

			  @media screen and (min-width: 300px) {
                .design .des-1 .mockup, .design .des-2 .mockup, .design .des-3 .mockup,
                .design .des-4 .mockup  {
                  width: 100%;
                  height: 70%;
                  position: absolute;
				  left: 0; 
		          right: 0; 
		          top: 0; 
		          bottom: 0; 
		          margin: auto;
		          margin-top: 5%;

                }

                .app-name {
			      font-size: 3.5em;
			      width: 70%;
			      height: 20%;
			      position: absolute;
				  left: 0; 
		          right: 0; 
		          top: 0; 
		          bottom: 0; 
		          margin: auto;
		          margin-bottom: 20%;
		          text-align: center;
			    }
              }

              @media screen and (min-width: 768px) {
                .design .des-1 .mockup, .design .des-2 .mockup, .design .des-3 .mockup,
                .design .des-4 .mockup  {
                  width: 70%;
                  height: 70%;
                  position: absolute;
				  left: 0; 
		          right: 0; 
		          top: 0; 
		          bottom: 0; 
		          margin: auto;
		          margin-left: 0;
                }


			    .app-name {
			      font-size: 5em;
			      width: 40%;
			      height: 10%;
			      position: absolute;
				  left: 0; 
		          right: 0; 
		          top: 0; 
		          bottom: 0; 
		          margin: auto;
		          margin-right: 5%;
			    }
              }

			.about {
				background-color: #fff;
			}

			.about span {
				color: #99f9ff;
				background-color: #000;
			}

			@media screen and (min-width: 300px) {
                .about .me {
                  position: absolute;
				  left: 0; 
				  right: 0; 
				  top: 0; 
				  bottom: 0; 
				  margin: auto;
				  background: url("../img/me.jpg") no-repeat center center;
				  background-size: cover;
				  z-index: 10;
				  width: 100%;
				  height: 50%;
				  margin-top: 0;
				  margin-left: 0;
			    }

			   .about .me2 {
			   	  position: absolute;
				  left: 0; 
				  right: 0; 
				  top: 0; 
				  bottom: 0; 
				  margin: auto;
				  background: url("../img/me2.jpg") no-repeat center center;
				  background-size: cover;
				  opacity: 0;
				  z-index: 10;
				  width: 100%;
				  height: 50%;
				  margin-bottom: 0;
				  margin-left: 0;
			    }

			    .about .header {
				   width: 80%;
				   height: 30%;
				   position: absolute;
				   left: 0; 
				   right: 0; 
				   top: 55%; 
				   bottom: 0; 
				   margin: auto;
				   margin-top: 0;
				   font-size: 1.5em;
				   text-align: center;
			       color: #000;
			       line-height: 130%；
			     }

			    .about .header2 {
			    	width: 80%;
			    	height: 30%;
			    	position: absolute;
			    	left: 0; 
			    	right: 0; 
			    	top: 5%; 
			    	bottom: 0; 
			    	margin: auto;
			    	margin-top: 0;
			    	font-size: 1.5em;
			    	text-align: center;
			        color: #000;
			        line-height: 130%；
			      }
              }

              @media screen and (min-width: 768px) {
                .about .me {
                    position: absolute;
				    left: 0; 
				    right: 0; 
				    top: 0; 
				    bottom: 0; 
				    margin: auto;
				    background: url("../img/me.jpg") no-repeat center center;
				    background-size: cover;
				    z-index: 10;
				    width: 50%;
				    height: 100%;
				    margin-top: 0;
				    margin-left: 0;
			    }

			   .about .me2 {
			   	    position: absolute;
				    left: 0; 
				    right: 0; 
				    top: 0; 
				    bottom: 0; 
				    margin: auto;
				    background: url("../img/me2.jpg") no-repeat center center;
				    background-size: cover;
				    opacity: 0;
				    z-index: 10;
				    width: 50%;
				    height: 100%;
				    margin-top: 0;
				    margin-right: 0;
			    }

			    .about .header {
				   width: 30%;
				   height: 80%;
				   position: absolute;
				   left: 55%; 
				   right: 0; 
				   top: 5%; 
				   bottom: 0; 
				   margin: auto;
				   margin-left: 0;
				   font-size: 2em;
				   text-align: left;
			       color: #000;
			       line-height: 160%;
			     }

			    .about .header2 {
			    	width: 30%;
			    	height: 80%;
			    	position: absolute;
			    	left: 15%; 
			    	right: 0; 
			    	top: 5%; 
			    	bottom: 0; 
			    	margin: auto;
			    	margin-left: 0;
			    	font-size: 2em;
			    	text-align: right;
			        color: #000;
			        line-height: 160%;
			      }
              }

			.contact-wrapper {
				width: 50%;
				height: 50%;
				position: absolute;
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				margin: auto;
				display: block;
				text-align: center;
			}

			.bg {
				position: absolute;
				left: 0; 
				right: 0; 
				top: 0; 
				bottom: 0; 
				width: 100%;
				height: 100%;
				/* background: url("../img/waving-circle2.gif") no-repeat center center; */
				background-size: cover;
				z-index: -1;
				opacity: 0.8;

			}

			.contact {
				background-color: #fff;
			}


			.result {
				margin: 5%;
				margin-bottom: 0;
				font-size: 2vh;
             }

			.contact form  {
				display: block;
				text-align: center;
				font-size: 2.5vh;
             }

             .contact form * {
             	width: 100%;
             	margin: 1%;
             	text-align: center;
             }

             .contact form input {
             	border: none;
             	font-family: 'Poiret One', cursive;
             	font-size:2.5vh;
             	-webkit-box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);
                -moz-box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);
                box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);
             }

             .contact form input:focus {
             	border: none;
             	outline: none;
             	border-bottom: 1px solid black;
             }

             .contact form textarea {
             	border: none;
             	font-family: 'Poiret One', cursive;
             	font-size: 2vh;
             	-webkit-box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);
                -moz-box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);
                box-shadow: 1px 10px 40px -6px rgba(0,0,0,0.72);

             }

             .contact form textarea:focus {
             	border: none;
             	outline: none;
             	border: 1px solid black;
             }

             .contact .send {
             	background-color: #000;
             	color: #fff;
             }

             .fail, .success {
             	display: none;
             }

             .contact .social {
             	width: 100%;
             	height: 30%;
             }

             .contact .social * {
             	display: inline-block;
             	transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
             }

             .contact .social .github {
             	width: 60px;
				height: 60px;
				background: url("../img/github-grey.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .github:hover {
             	width: 60px;
				height: 60px;
				background: url("../img/github-hover.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .linkedin {
             	width: 60px;
				height: 60px;
				background: url("../img/linkedin-grey.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .linkedin:hover {
             	width: 60px;
				height: 60px;
				background: url("../img/linkedin-hover.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .ig {
             	width: 60px;
				height: 60px;
				background: url("../img/ig-grey.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .ig:hover {
             	width: 60px;
				height: 60px;
				background: url("../img/ig-hover.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .dribble {
             	width: 70px;
				height: 60px;
				background: url("../img/dribble.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .dribble:hover {
             	width: 70px;
				height: 60px;
				background: url("../img/dribble-hover.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .pin {
             	width: 60px;
				height: 60px;
				background: url("../img/pin-grey.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }

             .contact .social .pin:hover {
             	width: 60px;
				height: 60px;
				background: url("../img/pin-hover.png") no-repeat center center;
				background-size: contain;
				margin: 0;
             }